<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
</head>
<body>
	<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<%= render "shared/header" %>
	<div class="form -compare">
		<div class="wrap">
			<%= form_tag("/compare", method: "get") do %>
				<div>
					<div>
						<%= label_tag :Año %>
						<%= select_tag "year1", options_for_select(@years, selected: @year1) %>
					</div>
					<div>
						<%= label_tag :Mes %>
						<%= select_tag "month1", options_for_select(@months, selected: @month1) %>
					</div>
				</div>
				<div class="btn-compare">
					<%= submit_tag "Comparar" %>
				</div>
				<div>
					<div>
						<%= label_tag :Año %>
						<%= select_tag "year2", options_for_select(@years, selected: @year2) %>
					</div>
					<div>
						<%= label_tag :Mes %>
						<%= select_tag "month2", options_for_select(@months, selected: @month2) %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="compare-container">
		<div class="maps-container -half">
			<div id="map1" class="compare-map"></div>
			<div id="mini-map1" class="compare-canarias"></div>
		</div>
		<div class="maps-container -half">
			<div id="map2" class="compare-map"></div>
			<div id="mini-map2" class="compare-canarias"></div>
		</div>
	</div>

	<div class="month-fires">
		<div class="wrap">
			<% if @month1 != @month2 && year1 != year2 %>
				<% if @most_fires > 0 %>
					<h1><%= @auxMonths[@month1] %> de <%= @year1 %> ha tenido más incendios forestales que <%= @auxMonths[@month2] %> de <%= @year2 %></h1>
				<% elsif @most_fires < 0 %>
					<h1><%= @auxMonths[@month2] %> de <%= @year2 %> ha tenido más incendios forestales que <%= @@auxMonths[month1 ]%> de <%= @year2 %></h1>
				<% else @most_fires > 0 %>
					<h1><%= @auxMonths[@month1] %> de <%= @year1 %> y <%= @auxMonths[@month2] %> de <%= @year2 %> han tenido el mismo número de incendios</h1>
				<% end %>
			<% end %>


		</div>
	</div>

	<%= render "shared/footer" %>

	
	
</body>
</html>
