<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
</head>
<body>
	<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	
	<div class="add-user back wrap">
		<h1 class="back-title">- Add user -</h1>

		<%= form_tag :action=>:create_user do %>
			<%= label_tag :User %>
			<%= text_field_tag :user %></br>
			<%= label_tag :Type %>
			<%= text_field_tag :type %>
			<%= submit_tag "Add" %>
		<% end %>

		<%= if @user
				content_tag :p, "- User '#{@user}' added. -"
			elsif @error
				content_tag :p, "- Error, user not added. -"
		end %>
	</div>

	</body>

</html>



      