<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
</head>
<body>
	<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<div class="positive-user">	
		<div class="add-user back wrap">
			<h1 class="back-title">- Add user -</h1>

			<%= form_tag :action=>:create_user do %>
				<%= label_tag :User %>
				<%= text_field_tag :user %></br>
				<%= label_tag :Type %>
				<%= text_field_tag :type %>
				<%= submit_tag "Add" %>
			<% end %>

			<%= if @add
					content_tag :p, "- User '#{@add}' added. -"
				elsif @error
					content_tag :p, "- Error, user not added. -"
			end %>
		</div>

		<div class="update-user back wrap">
			<h1 class="back-title">- Update user -</h1>

			<%= form_tag('/backoffice/add_user', method: 'put') do %>
				<%= label_tag :User %>
				<%= text_field_tag :user %></br>
				<%= label_tag :Type %>
				<%= text_field_tag :type %>
				<%= submit_tag "Update" %>
			<% end %>

			<%= if @update
					content_tag :p, "- User '#{@update}' updated. -"
				elsif @error
					content_tag :p, "- Error, user not updated. -"
			end %>
		</div>
	</div>

	<div class="negative-user">
		<div class="delete-user back wrap">
			<h1 class="back-title">- Delete user -</h1>

			<%= form_tag('/backoffice/add_user', method: 'delete') do %>
				<%= label_tag :User %>
				<%= text_field_tag :user %>
				<%= submit_tag "Delete" %>
			<% end %>

			<%= if @delete
					content_tag :p, "- User '#{@delete}' deleted. -"
				elsif @error
					content_tag :p, "- Error, user not deleted. -"
			end %>
		</div>
	</div>

	</body>

</html>



      